<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cointr.upbit.repository.CoinRepository">

    <select id="findAll" resultType="com.cointr.upbit.dto.CoinDto">
        select * from coin
    </select>

    <insert id="insertTradeInfo" parameterType="com.cointr.upbit.dto.TradeInfoDto">
        insert into trade_info (market,trade_date,trade_price,acc_trade_volume) values (#{market},#{tradeDate},#{tradePrice},#{accTradeVolume})
    </insert>

    <update id="updateTradeInfo" parameterType="com.cointr.upbit.dto.TradeInfoDto">
        update trade_info
        set trade_price = #{tradePrice}
            ,acc_trade_volume = #{accTradeVolume}
        where market = #{market}
        and tradeDate = #{tradeDate}
    </update>
</mapper>