<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cointr.upbit.repository.CoinRepository">

    <select id="findAll" resultType="com.cointr.upbit.dto.CoinDto">
        select * from coin
    </select>

    <select id="selectTradeInfo" parameterType="java.lang.String" resultType="com.cointr.upbit.dto.TradeInfoDto">
        select * from trade_info where market = #{market} order by trade_date desc
    </select>

    <insert id="insertTradeInfo" parameterType="com.cointr.upbit.dto.TradeInfoDto">
        insert into trade_info (market,trade_date,trade_price,acc_trade_volume)
        values (#{market},#{tradeDate},#{tradePrice},#{accTradeVolume})
        ON DUPLICATE KEY UPDATE trade_price = #{tradePrice}, acc_trade_volume = #{accTradeVolume}
    </insert>

    <insert id="insertBulkTradeInfo" parameterType="java.util.List">
        insert into trade_info (market,trade_date,trade_price,rsi,macd,macd_ema_short,macd_ema_long,macd_signal,macd_signal_histogram,acc_trade_volume)
        values
        <foreach collection="list" item="item" separator=",">
               (#{item.market},#{item.tradeDate},#{item.tradePrice},#{item.rsi},#{item.macd},#{item.macdEmaShort},#{item.macdEmaLong},#{item.macdSignal},#{item.macdSignalHistogram},#{item.accTradeVolume})
        </foreach>
        ON DUPLICATE KEY UPDATE
                trade_price = values (trade_price)
                ,acc_trade_volume = values(acc_trade_volume)
        ,rsi = values(rsi)
        ,macd = values(macd)
        ,macd_ema_short = values(macd_ema_short)
        ,macd_ema_long = values(macd_ema_long)
        ,macd_signal = values(macd_signal)
        ,macd_signal_histogram = values(macd_signal_histogram)
    </insert>

    <delete id="deleteTradeInfo">
        delete from trade_info
    </delete>

    <update id="updateTradeInfo" parameterType="com.cointr.upbit.dto.TradeInfoDto">
        update trade_info
        set trade_price = #{tradePrice}
            ,acc_trade_volume = #{accTradeVolume}
        where market = #{market}
        and tradeDate = #{tradeDate}
    </update>
</mapper>