<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        /* trade_container와 info_container를 나란히 배치 */
        #container_wrapper {
            display: flex;
        }
        /* trade_container와 info_container를 세로 방향으로 배치 */
        #trade_container,
        #info_container {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
        #chart_div, #curve_chart {
            width: 900px;
            height: 700px;
        }
        .tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
        .tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;
            font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#fff;
            font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart','table']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawTable);
        google.charts.setOnLoadCallback(drawTable2);
        var chart;
        var options;
        var table;
        function drawTable() {
            table = new google.visualization.Table(document.getElementById('table_div'));
        }
        function drawTable2() {
            table2 = new google.visualization.Table(document.getElementById('table_div2'));
        }
        function drawChart() {
            options = {
                legend:'none'
            };
            chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
        }
        var chart2;
        var options2;
        function drawChart2() {
            options2 = {
                title: 'RSI',
                legend: { position: 'bottom' }
            };
            chart2 = new google.visualization.LineChart(document.getElementById('curve_chart'));
        }
        function fetchData() {
            var coin = $('#coin').val();
            $.ajax({
                url: "/api/v1/coin/prices?market="+coin, // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (data) {
                    chart.draw(google.visualization.arrayToDataTable(data.prices,true), options);
                    chart2.draw(google.visualization.arrayToDataTable(data.rsi), options2);
                    $('#tPrice').text(data.currentPrice.tradePrice);
                    $('#tHigh').text(data.currentPrice.highPrice);
                    $('#tLow').text(data.currentPrice.lowPrice);
                    $('#tAdx').text(data.currentPrice.adx);
                    $('#tRsi').text(data.currentPrice.rsi);
                    $('#tCci').text(data.currentPrice.cci);
                    $('#tBb').text(data.currentPrice.bbAvg);
                    $('#tMacd').text(data.currentPrice.macd);
                    $('#tPsar').text(data.currentPrice.psar);
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }
        function search() {
            var coin = $('#coin').val();
            $.ajax({
                url: "/api/v1/coin/prices2?market="+coin, // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (jsonResponse) {
                    data = new google.visualization.DataTable();
                    data.addColumn('string', 'tradeDate');
                    data.addColumn('number', 'tradePrice');
                    data.addColumn('number', 'lowPrice');
                    data.addColumn('number', 'highPrice');
                    data.addColumn('number', 'rsi');
                    data.addColumn('number', 'cci');
                    data.addColumn('number', 'bbAvg');
                    data.addColumn('number', 'macd');
                    data.addColumn('number', 'adx');
                    data.addColumn('number', 'pSar');
                    data.addColumn('number', 'slowK');
                    data.addColumn('number', 'slowD');
                    data.addColumn('number', 'aroon');

                    jsonResponse.forEach(function(vo) {
                        data.addRow([vo.tradeDate, vo.tradePrice, vo.lowPrice, vo.highPrice, vo.rsi, vo.cci,vo.bbAvg,vo.macd,vo.adx,vo.psar,vo.slowK,vo.slowD,vo.aroonOscillator]);
                    });
                    table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
            $.ajax({
                url: "/api/v1/coin/prices3?market="+coin, // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (jsonResponse) {
                    data2 = new google.visualization.DataTable();
                    data2.addColumn('string', 'tradeDate');
                    data2.addColumn('number', 'tradePrice');
                    data2.addColumn('number', 'lowPrice');
                    data2.addColumn('number', 'highPrice');
                    data2.addColumn('number', 'rsi');
                    data2.addColumn('number', 'cci');
                    data2.addColumn('number', 'bbAvg');
                    data2.addColumn('number', 'macd');
                    data2.addColumn('number', 'adx');
                    data2.addColumn('number', 'pSar');
                    data2.addColumn('number', 'slowK');
                    data2.addColumn('number', 'slowD');
                    data2.addColumn('number', 'aroon');
                    jsonResponse.forEach(function(vo) {
                        data2.addRow([vo.tradeDate, vo.tradePrice, vo.lowPrice, vo.highPrice, vo.rsi, vo.cci,vo.bbAvg,vo.macd,vo.adx,vo.psar,vo.slowK,vo.slowD,vo.aroonOscillator]);
                    });
                    table2.draw(data2, {showRowNumber: true, width: '100%', height: '100%'});
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }
        function coinAll() {
            $.ajax({
                url: "/api/v1/coin/coins", // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (jsonResponse) {
                    const selectBox = document.getElementById('coin');
                    jsonResponse.forEach((item) => {
                        const option = document.createElement('option');
                        option.value = item.market; // 옵션의 값으로 id를 설정
                        option.text = item.koreanName; // 옵션의 텍스트로 name을 설정
                        selectBox.appendChild(option);
                    })
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }
        coinAll();
        setInterval(function() { fetchData(); }, 500);
    </script>
</head>
<body>
<div id="container_wrapper">
    <div id="trade_container">
        <div>
            <label for="mInput">분 조건식</label>
            <input id="mInput"/>
        </div>
        <div>
            <label for="dInput">일 조건식</label>
            <input id="dInput"/>
        </div>
    </div>
    <div id="info_container">
        <div id="search_container">
            <label for="coin"></label>
            <select id="coin"></select>
            <button id="search" onclick="search()">검색</button>
        </div>
        <div>
            <table class="tg">
                <thead>
                <tr>
                    <th class="tg-0lax">현재가</th>
                    <th class="tg-0lax">고가</th>
                    <th class="tg-0lax">저가</th>
                    <th class="tg-0lax">RSI</th>
                    <th class="tg-0lax">CCI</th>
                    <th class="tg-0lax">macd</th>
                    <th class="tg-0lax">BB</th>
                    <th class="tg-0lax">ADX</th>
                    <th class="tg-0lax">PSar</th>
                    <th class="tg-0lax">Stoch</th>
                    <th class="tg-0lax">Aroon</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="tg-0lax" id="tPrice"></td>
                    <td class="tg-0lax" id="tHigh"></td>
                    <td class="tg-0lax" id="tLow"></td>
                    <td class="tg-0lax" id="tRsi"></td>
                    <td class="tg-0lax" id="tCci"></td>
                    <td class="tg-0lax" id="tMacd"></td>
                    <td class="tg-0lax" id="tBb"></td>
                    <td class="tg-0lax" id="tAdx"></td>
                    <td class="tg-0lax" id="tPsar"></td>
                    <td class="tg-0lax" id="tStoch"></td>
                    <td class="tg-0lax" id="tAroon"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="table_container">
            <div id="table_div">table_div</div>
            <div id="table_div2">table_div2</div>
        </div>
        <div id="chart_container">
            <div id="chart_div">chart_div</div>
            <div id="curve_chart">curve_chart</div>
        </div>
    </div>
</div>
</body>
</html>
