<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trade Alarm</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <style>
        #chart_div, #curve_chart {
            width: 900px;
            height: 500px;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        var table,table2
        var options,options2;
        var chart,chart2;
        var data,data2;

        google.charts.load('current', {'packages':['corechart','table']});
        google.charts.setOnLoadCallback(drawTable);
        function drawTable() {
            table = new google.visualization.Table(document.getElementById('table_div'));
            table2 = new google.visualization.Table(document.getElementById('table_div2'));
            options = {
                legend:'none'
            };
            chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
            options2 = {
                title: '',
                legend: { position: 'bottom' }
            };
            chart2 = new google.visualization.LineChart(document.getElementById('curve_chart'));
        }


        function fetchData() {
            var coin = $('#coin').val();
            $.ajax({
                url: "/api/v1/coin/prices?market="+coin, // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (data) {
                    chart.draw(google.visualization.arrayToDataTable(data.prices,true), options);
                    chart2.draw(google.visualization.arrayToDataTable(data.rsi), options2);
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }

        function start() {
            $.ajax({
                url: "/api/v1/coin/start", // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }

        function conditionPriceSave() {
            const jsonData = {
                conditionPrice: $("#conditionPrice").val()
            };

            $.ajax({
                url: "/api/v1/coin/conditionPrice",
                data:JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (jsonResponse) {
                    console.log(jsonResponse);
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }

        function conditionSave(candleType,conditionType,condition) {
            const jsonData = {
                candleType: candleType,
                conditionType: conditionType,
                condition: condition
            };

            $.ajax({
                url: "/api/v1/coin/condition",
                data:JSON.stringify(jsonData),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (jsonResponse) {
                    console.log(jsonResponse);
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
        }
        function search() {
            var coin = $('#coin').val();
            $.ajax({
                url: "/api/v1/coin/prices2?market="+coin, // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (jsonResponse) {
                    data = new google.visualization.DataTable();
                    data.addColumn('string', 'tradeDate');
                    data.addColumn('number', 'tradePrice');
                    data.addColumn('number', 'lowPrice');
                    data.addColumn('number', 'highPrice');
                    data.addColumn('number', 'rsi');
                    data.addColumn('number', 'cci');
                    data.addColumn('number', 'bbAvg');
                    data.addColumn('number', 'macd');
                    data.addColumn('number', 'adx');
                    data.addColumn('number', 'pSar');
                    data.addColumn('number', 'slowK');
                    data.addColumn('number', 'slowD');
                    data.addColumn('number', 'aroon');
                    data.addColumn('number', '매도량');
                    data.addColumn('number', '매도금액');
                    data.addColumn('number', '매수량');
                    data.addColumn('number', '매도금액');

                    jsonResponse.forEach(function(vo) {
                        data.addRow([vo.tradeDate, vo.tradePrice, vo.lowPrice, vo.highPrice, vo.rsi, vo.cci,vo.bbAvg,vo.macd,vo.adx,vo.psar,vo.slowK,vo.slowD,vo.aroonOscillator,vo.askVolume,vo.askPrice,vo.bidVolume,vo.bidPrice]);
                    });
                    table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
            $.ajax({
                url: "/api/v1/coin/prices3?market="+coin, // 서버의 데이터를 반환하는 엔드포인트 URL
                type: "GET",
                dataType: "json",
                success: function (jsonResponse) {
                    data2 = new google.visualization.DataTable();
                    data2.addColumn('string', 'tradeDate');
                    data2.addColumn('number', 'tradePrice');
                    data2.addColumn('number', 'lowPrice');
                    data2.addColumn('number', 'highPrice');
                    data2.addColumn('number', 'rsi');
                    data2.addColumn('number', 'cci');
                    data2.addColumn('number', 'bbAvg');
                    data2.addColumn('number', 'macd');
                    data2.addColumn('number', 'adx');
                    data2.addColumn('number', 'pSar');
                    data2.addColumn('number', 'slowK');
                    data2.addColumn('number', 'slowD');
                    data2.addColumn('number', 'aroon');
                    jsonResponse.forEach(function(vo) {
                        data2.addRow([vo.tradeDate, vo.tradePrice, vo.lowPrice, vo.highPrice, vo.rsi, vo.cci,vo.bbAvg,vo.macd,vo.adx,vo.psar,vo.slowK,vo.slowD,vo.aroonOscillator]);
                    });
                    table2.draw(data2, {showRowNumber: true, width: '100%', height: '100%'});
                },
                error: function () {
                    console.error("Failed to fetch data.");
                }
            });
            setInterval(function() { fetchData(); }, 500);
        }
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2" id="coin">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="search()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <button class="btn btn-primary" type="button" id="startBtn" onclick="start()" aria-haspopup="true" aria-expanded="false">
                                        정보수집 시작
                                    </button>

                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="거래량"
                                               aria-label="Search" aria-describedby="basic-addon2" id="conditionPrice">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionPriceSave()">
                                        실시간 거래량
                                    </button>
                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="조건A"
                                               aria-label="Search" aria-describedby="basic-addon2" id="minuteConditionA">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionSave('m','A',$('#minuteConditionA').val())">
                                        분봉 A조건 추가
                                    </button>
                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="조건B"
                                               aria-label="Search" aria-describedby="basic-addon2" id="minuteConditionB">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionSave('m','B',$('#minuteConditionB').val())">
                                        분봉 B조건 추가
                                    </button>
                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="조건C"
                                               aria-label="Search" aria-describedby="basic-addon2" id="minuteConditionC">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionSave('m','C',$('#minuteConditionC').val())">
                                        분봉 C조건 추가
                                    </button>
                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="조건A"
                                               aria-label="Search" aria-describedby="basic-addon2" id="dayConditionA">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionSave('d','A',$('#dayConditionA').val())">
                                        일봉 A조건 추가
                                    </button>
                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="조건B"
                                               aria-label="Search" aria-describedby="basic-addon2" id="dayConditionB">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionSave('d','B',$('#dayConditionB').val())">
                                        일봉 B조건 추가
                                    </button>
                                </div>
                                <p></p>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="조건C"
                                               aria-label="Search" aria-describedby="basic-addon2" id="dayConditionC">
                                    </div>
                                    <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" onclick="conditionSave('d','C',$('#dayConditionC').val())">
                                        일봉 C조건 추가
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">가격</h6>
                            </div>
                            <div class="card-body">
                                <div id="chart_div">chart_div</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">RSI</h6>
                            </div>
                            <div class="card-body">
                                <div id="curve_chart">curve_chart</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-lg-6 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">분봉</h6>
                            </div>
                            <div class="card-body">
                                <div id="table_div">table_div</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">일봉</h6>
                            </div>
                            <div class="card-body">
                                <div id="table_div2">table_div2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Hassan 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Bootstrap core JavaScript-->

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</body>

</html>